body {
    font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", "Meiryo", "sans-serif";
    margin: 0;
    background-color: #f9fffa;
}

p {
    margin: 0;
}

.site-header {
    position: relative;
    z-index: 0;
    background-color: #ffffff;
    box-shadow: 0 1px 7px #cfcfcf;
    max-width: 94%;
    height: 80px;
    margin: 0 auto;
    border-radius: 0 0 1rem 1rem;
    .logo {
        margin: 0;
        padding: 18px 0px 0px 80px;
        img {
            width: 2.8rem;
            height: auto;
        }
        a:hover {
            opacity: 0.7;
            transition: 0.3s;
        }
    }
    p {
        position: absolute;
        top: 22px;
        left: 135px;
        font-size: 1.4rem;
        font-weight: bolder;
        margin: 0;
    }
}

.nav-contents {
    position: absolute;
    top: 27px;
    right: 207px;
    z-index: 1;
    .ul-list {
        display: flex;
        list-style: none;
        margin: 0;
        li {
            padding: 0px 35px;
        }
        a {
            padding-bottom: 5px;
            text-decoration: none;
            font-size: 1.0rem;
            font-weight: 400;
            background-image: linear-gradient(#7f8480, #7f8480);
            background-size: 0 2px;
            background-position: left bottom;
            background-repeat: no-repeat;
            color: #000;
            transition: all 0.4s;
            letter-spacing: 0.1rem;
        }
        a:hover {
            background-size: 100% 2px;
            color: #018326;
        }
    }
}

.github-btn {
    position: relative;
    .github-link {
        position: absolute;
        bottom: -7px;
        left: 505px;
        text-decoration: none;
        font-size: 1.0rem;
        font-weight: 600;
        color: #000;
        background-color: #d6d6d6;
        padding: 8px 25px 8px 25px;
        border-radius: 1.3rem;
        letter-spacing: 0.1rem;
        transition: 0.4s;
        box-shadow: 0px 5px 1px #909090;
    }
    .github-link:hover {
        color: #fff;
        background-color: #018326;
        box-shadow: none;
        transform: translateY(2px);
        transition: 0.2s;
    }
    .github-link::after {
        content: '';
        position: absolute;
        width: 7px;
        height: 7px;
        border-top: solid 1.7px #000;
        border-right: solid 1.7px #000;
        transform: rotate(45deg);
        top: 0;
        right: 12px;
        bottom: 0;
        margin: auto;
    }
    .github-link:hover::after {
        border-top: solid 1.7px #fff;
        border-right: solid 1.7px #fff;
        transition: 0.2s;
    }
} 

.sns-icon {
    position: fixed;
    padding: 83px 0px 0px 45px;
}

.instagram-icon {
    position: relative;
    padding-bottom: 15px;
    img {
        width: 30px;
        height: 30px;
    }
    a {
        display: inline-block;
        background-color: #fff;
        padding: 14px 14px 8px 14px;
        border-radius: 2.9rem;
        box-shadow: 0px 0px 3px #000000;
        transition: 0.3s;
    }
    a:hover {
        background-color: #e9e9e9;
        transform: scale(1.1);
      }
}

.facebook-icon {
    padding-bottom: 15px;
    img {
        width: 30px;
        height: 30px;
    }
    a {
        display: inline-block;
        background-color: #fff;
        padding: 14px 14px 8px 14px;
        border-radius: 2.9rem;
        box-shadow: 0px 0px 3px #000000;
        transition: 0.3s;
    }
    a:hover {
        background-color: #e9e9e9;
        transform: scale(1.1);
    }
}

.x-icon {
    img {
        width: 30px;
        height: 30px;
    }
    a {
        display: inline-block;
        background-color: #fff;
        padding: 14px 14px 8px 14px;
        border-radius: 2.9rem;
        box-shadow: 0px 0px 3px #000000;
        transition: 0.3s;
    }
    a:hover {
        background-color: #e9e9e9;
        transform: scale(1.1);
    }
}

.mv-contents {
    .mv-title {
        position: absolute;
        font-size: 6.6vw;
        font-weight: 900;
        z-index: -1;
        margin-top: 45px;
        margin-left: 10.5%;
        line-height: 1.2;
    }
    .mv-jobtype-text {
        color: #018326;
    }
    img {
        display: block;
        max-width: 40%;
        margin-left: 57%;
        margin-top: 100px;
        border-radius: 45px;
    }
}



