body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  margin: 0;
}

.site-header {
  position: fixed;
  position: relative;
  background-color: rgba(255, 255, 255, 0);
  height: 80px;
  z-index: 0;
}
.site-header .logo {
  margin: 0;
  padding: 31px 0px 0px 80px;
}
.site-header .logo img {
  width: 50px;
  height: auto;
}
.site-header .logo a:hover {
  opacity: 0.8;
  transition: 0.3s;
}
.site-header p {
  position: absolute;
  top: 35px;
  left: 150px;
  font-size: 1.4rem;
  font-weight: bolder;
  margin: 0;
}

.nav-contents {
  position: absolute;
  top: 44px;
  right: 45px;
  z-index: 2;
}
.nav-contents .ul-list {
  display: flex;
  list-style: none;
  margin: 0;
}
.nav-contents .ul-list li {
  padding: 0px 35px;
}
.nav-contents .ul-list a {
  padding-bottom: 5px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  background-image: linear-gradient(#7f8480, #7f8480);
  background-size: 0 2px;
  background-position: left bottom;
  background-repeat: no-repeat;
  color: #000;
  transition: all 0.4s;
  letter-spacing: 0.1rem;
}
.nav-contents .ul-list a:hover {
  background-size: 100% 2px;
  color: #018326;
}
.nav-contents .ul-list .github-btn .github-link {
  color: #000;
  background-color: #d6d6d6;
  padding: 7px 25px 7px 25px;
  border-radius: 1.3rem;
}
.nav-contents .ul-list .github-btn .github-link:hover {
  background-size: 0%;
  color: #018326;
}