body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", "Meiryo", "sans-serif";
  margin: 0;
  background-color: #464646;
  color: #fff;
}

p {
  margin: 0;
}

.site-header {
  position: relative;
  z-index: 4;
  background-color: #ffffff;
  box-shadow: 0 4px 11px 1px #000;
  max-width: 94%;
  height: 80px;
  margin: 0 auto;
  border-radius: 0 0 1rem 1rem;
}
.site-header .logo {
  margin: 0;
  padding: 18px 0px 0px 80px;
}
.site-header .logo img {
  width: 2.8rem;
  height: auto;
}
.site-header .logo a:hover {
  opacity: 0.7;
  transition: 0.3s;
}
.site-header h1 {
  position: absolute;
  top: 22px;
  left: 135px;
  font-size: 1.4rem;
  font-weight: bolder;
  color: #282828;
  margin: 0;
}

.nav-contents {
  position: absolute;
  top: 27px;
  right: 207px;
  z-index: 1;
}
.nav-contents .ul-list {
  display: flex;
  list-style: none;
  margin: 0;
}
.nav-contents .ul-list li {
  padding: 0px 35px;
}
.nav-contents .ul-list a {
  padding-bottom: 5px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  background-image: linear-gradient(#123d83, #123d83);
  background-size: 0 2px;
  background-position: left bottom;
  background-repeat: no-repeat;
  color: #282828;
  transition: all 0.4s;
  letter-spacing: 0.1rem;
}
.nav-contents .ul-list a:hover {
  background-size: 100% 2px;
  color: #123d83;
}

.github-btn {
  position: relative;
}
.github-btn .github-link {
  position: absolute;
  bottom: -7px;
  left: 505px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  color: #282828;
  background-color: #d6d6d6;
  padding: 8px 25px 8px 25px;
  border-radius: 1.3rem;
  letter-spacing: 0.1rem;
  transition: 0.4s;
  box-shadow: 0px 5px 1px #909090;
}
.github-btn .github-link:hover {
  color: #fff;
  background-color: #0074ac;
  box-shadow: none;
  transform: translateY(2px);
  transition: 0.2s;
}
.github-btn .github-link::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  border-top: solid 1.7px #464646;
  border-right: solid 1.7px #464646;
  transform: rotate(45deg);
  top: 0;
  right: 12px;
  bottom: 0;
  margin: auto;
}
.github-btn .github-link:hover::after {
  border-top: solid 1.7px #fff;
  border-right: solid 1.7px #fff;
  transition: 0.2s;
}

.sns-icon {
  position: fixed;
  padding: 83px 0px 0px 45px;
  z-index: 1;
}

.instagram-icon {
  position: relative;
  padding-bottom: 15px;
}
.instagram-icon img {
  width: 30px;
  height: 30px;
}
.instagram-icon a {
  display: inline-block;
  background-color: #fff;
  padding: 14px 14px 8px 14px;
  border-radius: 2.9rem;
  box-shadow: 0px 2px 7px #000;
  transition: 0.3s;
}
.instagram-icon a:hover {
  background-color: #bffff4;
  transform: scale(1.1);
}

.facebook-icon {
  padding-bottom: 15px;
}
.facebook-icon img {
  width: 30px;
  height: 30px;
}
.facebook-icon a {
  display: inline-block;
  background-color: #fff;
  padding: 14px 14px 8px 14px;
  border-radius: 2.9rem;
  box-shadow: 0px 2px 7px #000000;
  transition: 0.3s;
}
.facebook-icon a:hover {
  background-color: #bffff4;
  transform: scale(1.1);
}

.x-icon img {
  width: 30px;
  height: 30px;
}
.x-icon a {
  display: inline-block;
  background-color: #fff;
  padding: 14px 14px 8px 14px;
  border-radius: 2.9rem;
  box-shadow: 0px 2px 7px #000000;
  transition: 0.3s;
}
.x-icon a:hover {
  background-color: #bffff4;
  transform: scale(1.1);
}

.mv-contents {
  height: 1000px;
}
.mv-contents .mv-title {
  position: absolute;
  font-size: 7vw;
  font-weight: 900;
  z-index: -1;
  margin-top: 135px;
  margin-left: 13.5%;
  line-height: 1.2;
}
.mv-contents .mv-jobtype-text {
  color: #00fff6;
}
.mv-contents img {
  max-width: 30%;
  margin-left: 64.2%;
  margin-top: 163px;
  border-radius: 45px;
  user-drag: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
}

.scroll-animation {
  position: absolute;
  left: 50%;
  bottom: 10px;
  height: 30px;
}
.scroll-animation span {
  position: absolute;
  top: -40px;
  left: -15px;
  color: #fff;
  font-size: 1rem;
  letter-spacing: 0.05em;
}
.scroll-animation ::after {
  content: "";
  position: absolute;
  top: 0;
  left: 21px;
  width: 1px;
  height: 30px;
  background-color: #00fff6;
  animation: pathmove 1.8s ease-in-out infinite;
  opacity: 0;
}
@keyframes pathmove {
  0% {
    height: 0;
    top: 22px;
    opacity: 0;
  }
  30% {
    height: 35px;
    opacity: 1;
  }
  100% {
    height: 0;
    top: 70px;
    opacity: 0;
  }
}

.job-contents .job-contents-frame {
  padding: 7.5vw 9vw;
  margin: 0 8.5vw;
  background-color: #1f1f1f;
  border-radius: 1.5vw;
}
.job-contents .job-contents-frame .job-title {
  font-size: 5vw;
  color: #ffffff;
  letter-spacing: 2.5vw;
  text-align: center;
  margin: 0;
  padding-bottom: 3.5vw;
}
.job-contents .job-contents-frame .job-company1 a,
.job-contents .job-contents-frame .job-company2 a,
.job-contents .job-contents-frame .job-company3 a {
  padding: 1.6vw 3.5vw;
  font-size: 1.6vw;
  color: #fff;
  letter-spacing: 0.3rem;
  text-decoration: none;
  border-left: 5px solid #ffffff;
}
.job-contents .job-contents-frame .job-company1 a:hover,
.job-contents .job-contents-frame .job-company2 a:hover,
.job-contents .job-contents-frame .job-company3 a:hover {
  color: #00fff6;
  border-color: #00fff6;
  transition: 0.3s;
}
.job-contents .job-contents-frame .job-company1 svg,
.job-contents .job-contents-frame .job-company2 svg,
.job-contents .job-contents-frame .job-company3 svg {
  width: 2.1vw;
  height: 1.4vw;
}
.job-contents .job-contents-frame .job-company1 .job-company2-margin,
.job-contents .job-contents-frame .job-company1 .job-company3-margin,
.job-contents .job-contents-frame .job-company2 .job-company2-margin,
.job-contents .job-contents-frame .job-company2 .job-company3-margin,
.job-contents .job-contents-frame .job-company3 .job-company2-margin,
.job-contents .job-contents-frame .job-company3 .job-company3-margin {
  padding-top: 4vw;
}
.job-contents .job-contents-frame .job-company1 .job-company1-text1,
.job-contents .job-contents-frame .job-company1 .job-company2-text1,
.job-contents .job-contents-frame .job-company1 .job-company3-text1,
.job-contents .job-contents-frame .job-company2 .job-company1-text1,
.job-contents .job-contents-frame .job-company2 .job-company2-text1,
.job-contents .job-contents-frame .job-company2 .job-company3-text1,
.job-contents .job-contents-frame .job-company3 .job-company1-text1,
.job-contents .job-contents-frame .job-company3 .job-company2-text1,
.job-contents .job-contents-frame .job-company3 .job-company3-text1 {
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.25vw;
  margin-top: 3.8vw;
}
.job-contents .job-contents-frame .job-company1 .job-company1-text2,
.job-contents .job-contents-frame .job-company1 .job-company2-text2,
.job-contents .job-contents-frame .job-company1 .job-company3-text2,
.job-contents .job-contents-frame .job-company2 .job-company1-text2,
.job-contents .job-contents-frame .job-company2 .job-company2-text2,
.job-contents .job-contents-frame .job-company2 .job-company3-text2,
.job-contents .job-contents-frame .job-company3 .job-company1-text2,
.job-contents .job-contents-frame .job-company3 .job-company2-text2,
.job-contents .job-contents-frame .job-company3 .job-company3-text2 {
  font-size: 1.2rem;
  font-weight: 100;
  letter-spacing: 0.25vw;
  margin: 2.2vw 0;
}
.job-contents .job-contents-frame .job-company1 .job-company1-text2 span,
.job-contents .job-contents-frame .job-company1 .job-company2-text2 span,
.job-contents .job-contents-frame .job-company1 .job-company3-text2 span,
.job-contents .job-contents-frame .job-company2 .job-company1-text2 span,
.job-contents .job-contents-frame .job-company2 .job-company2-text2 span,
.job-contents .job-contents-frame .job-company2 .job-company3-text2 span,
.job-contents .job-contents-frame .job-company3 .job-company1-text2 span,
.job-contents .job-contents-frame .job-company3 .job-company2-text2 span,
.job-contents .job-contents-frame .job-company3 .job-company3-text2 span {
  font-weight: 500;
}
.job-contents .job-contents-frame .job-company1 .job-company3-text3,
.job-contents .job-contents-frame .job-company2 .job-company3-text3,
.job-contents .job-contents-frame .job-company3 .job-company3-text3 {
  font-size: 1.2rem;
  font-weight: 100;
  letter-spacing: 0.25vw;
}
.job-contents .job-contents-frame .job-company1 .job-company3-text3 span,
.job-contents .job-contents-frame .job-company2 .job-company3-text3 span,
.job-contents .job-contents-frame .job-company3 .job-company3-text3 span {
  font-weight: 500;
}
.job-contents .job-contents-frame .job-company1 .job-company3-text3 .job-company3-link,
.job-contents .job-contents-frame .job-company2 .job-company3-text3 .job-company3-link,
.job-contents .job-contents-frame .job-company3 .job-company3-text3 .job-company3-link {
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
  border-left: none;
  padding: 0;
  text-decoration: none;
  letter-spacing: 0.25vw;
}
.job-contents .job-contents-frame .job-company1 .job-company3-text3 .job-company3-link:hover,
.job-contents .job-contents-frame .job-company2 .job-company3-text3 .job-company3-link:hover,
.job-contents .job-contents-frame .job-company3 .job-company3-text3 .job-company3-link:hover {
  color: #00fff6;
}
.job-contents .job-contents-frame .job-company1 .job-company1-image,
.job-contents .job-contents-frame .job-company1 .job-company3-image,
.job-contents .job-contents-frame .job-company2 .job-company1-image,
.job-contents .job-contents-frame .job-company2 .job-company3-image,
.job-contents .job-contents-frame .job-company3 .job-company1-image,
.job-contents .job-contents-frame .job-company3 .job-company3-image {
  display: flex;
  justify-content: center;
}
.job-contents .job-contents-frame .job-company1 .job-company1-image img,
.job-contents .job-contents-frame .job-company1 .job-company3-image img,
.job-contents .job-contents-frame .job-company2 .job-company1-image img,
.job-contents .job-contents-frame .job-company2 .job-company3-image img,
.job-contents .job-contents-frame .job-company3 .job-company1-image img,
.job-contents .job-contents-frame .job-company3 .job-company3-image img {
  border-radius: 1.4vw;
  max-width: 48%;
  margin-bottom: 2.2vw;
  user-drag: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
}
.job-contents .job-contents-frame .job-company1 .job-company1-image img:first-child,
.job-contents .job-contents-frame .job-company1 .job-company3-image img:first-child,
.job-contents .job-contents-frame .job-company2 .job-company1-image img:first-child,
.job-contents .job-contents-frame .job-company2 .job-company3-image img:first-child,
.job-contents .job-contents-frame .job-company3 .job-company1-image img:first-child,
.job-contents .job-contents-frame .job-company3 .job-company3-image img:first-child {
  margin-right: 3.8%;
}
.job-contents .job-contents-frame .job-company1 .job-company1-contacttag,
.job-contents .job-contents-frame .job-company2 .job-company1-contacttag,
.job-contents .job-contents-frame .job-company3 .job-company1-contacttag {
  display: flex;
}
.job-contents .job-contents-frame .job-company1 .job-company1-contacttag p,
.job-contents .job-contents-frame .job-company2 .job-company1-contacttag p,
.job-contents .job-contents-frame .job-company3 .job-company1-contacttag p {
  font-size: 1.4vw;
  font-weight: 500;
  letter-spacing: 0.25vw;
  margin: 1.5vw 0;
}
.job-contents .job-contents-frame .job-company1 .job-company1-contacttag ul,
.job-contents .job-contents-frame .job-company2 .job-company1-contacttag ul,
.job-contents .job-contents-frame .job-company3 .job-company1-contacttag ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.job-contents .job-contents-frame .job-company1 .job-company1-contacttag ul li,
.job-contents .job-contents-frame .job-company2 .job-company1-contacttag ul li,
.job-contents .job-contents-frame .job-company3 .job-company1-contacttag ul li {
  position: relative;
  text-align: center;
  width: fit-content;
  height: 2.95vw;
  font-size: 1.4vw;
  font-weight: 500;
  letter-spacing: 0.1vw;
  color: #0081ff;
  border: 0.1vw solid #0081ff;
  border-radius: 0.6vw;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  box-sizing: border-box;
  cursor: pointer;
  margin-top: 0.9vw;
  margin-left: 5vw;
  margin-right: -3.4vw;
  padding: 0.39vw 0.9vw;
  z-index: 3;
}
.job-contents .job-contents-frame .job-company1 .job-company1-contacttag ul li::before,
.job-contents .job-contents-frame .job-company2 .job-company1-contacttag ul li::before,
.job-contents .job-contents-frame .job-company3 .job-company1-contacttag ul li::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transform: scale(0, 1);
  transition: 0.7s;
  transform-origin: left top;
}
.job-contents .job-contents-frame .job-company1 .job-company1-contacttag ul li:hover,
.job-contents .job-contents-frame .job-company2 .job-company1-contacttag ul li:hover,
.job-contents .job-contents-frame .job-company3 .job-company1-contacttag ul li:hover {
  color: #fff;
  border: 1px solid #000;
  transition: 0.7s;
}
.job-contents .job-contents-frame .job-company1 .job-company1-contacttag ul li:hover::before,
.job-contents .job-contents-frame .job-company2 .job-company1-contacttag ul li:hover::before,
.job-contents .job-contents-frame .job-company3 .job-company1-contacttag ul li:hover::before {
  transform: scale(1, 1);
}
.job-contents .job-contents-frame .job-company1 .job-company1-businesstag,
.job-contents .job-contents-frame .job-company2 .job-company1-businesstag,
.job-contents .job-contents-frame .job-company3 .job-company1-businesstag {
  display: flex;
}
.job-contents .job-contents-frame .job-company1 .job-company1-businesstag p,
.job-contents .job-contents-frame .job-company2 .job-company1-businesstag p,
.job-contents .job-contents-frame .job-company3 .job-company1-businesstag p {
  width: 17.8vw;
  font-size: 1.4vw;
  font-weight: 500;
  letter-spacing: 0.25vw;
  margin: 1.5vw 0;
}
.job-contents .job-contents-frame .job-company1 .job-company1-businesstag ul,
.job-contents .job-contents-frame .job-company2 .job-company1-businesstag ul,
.job-contents .job-contents-frame .job-company3 .job-company1-businesstag ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.job-contents .job-contents-frame .job-company1 .job-company1-businesstag ul li,
.job-contents .job-contents-frame .job-company2 .job-company1-businesstag ul li,
.job-contents .job-contents-frame .job-company3 .job-company1-businesstag ul li {
  position: relative;
  text-align: center;
  width: fit-content;
  height: 2.95vw;
  font-size: 1.4vw;
  font-weight: 500;
  letter-spacing: 0.1vw;
  color: #00fff6;
  border: 0.1vw solid #00fff6;
  border-radius: 0.6vw;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  box-sizing: border-box;
  cursor: pointer;
  margin: 0.9vw -3.1vw 1.1vw 4.7vw;
  padding: 0.39vw 0.9vw;
  z-index: 3;
}
.job-contents .job-contents-frame .job-company1 .job-company1-businesstag ul li::before,
.job-contents .job-contents-frame .job-company2 .job-company1-businesstag ul li::before,
.job-contents .job-contents-frame .job-company3 .job-company1-businesstag ul li::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #949494;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transform: scale(0, 1);
  transition: 0.7s;
  transform-origin: left top;
}
.job-contents .job-contents-frame .job-company1 .job-company1-businesstag ul li:hover,
.job-contents .job-contents-frame .job-company2 .job-company1-businesstag ul li:hover,
.job-contents .job-contents-frame .job-company3 .job-company1-businesstag ul li:hover {
  color: #fff;
  border: 1px solid #949494;
  transition: 0.7s;
}
.job-contents .job-contents-frame .job-company1 .job-company1-businesstag ul li:hover::before,
.job-contents .job-contents-frame .job-company2 .job-company1-businesstag ul li:hover::before,
.job-contents .job-contents-frame .job-company3 .job-company1-businesstag ul li:hover::before {
  transform: scale(1, 1);
}
.job-contents .job-contents-frame .job-company1 .job-company1-designtag,
.job-contents .job-contents-frame .job-company2 .job-company1-designtag,
.job-contents .job-contents-frame .job-company3 .job-company1-designtag {
  display: flex;
}
.job-contents .job-contents-frame .job-company1 .job-company1-designtag p,
.job-contents .job-contents-frame .job-company2 .job-company1-designtag p,
.job-contents .job-contents-frame .job-company3 .job-company1-designtag p {
  width: 8.2vw;
  font-size: 1.4vw;
  font-weight: 500;
  letter-spacing: 0.25vw;
  margin: 1.5vw 0;
}
.job-contents .job-contents-frame .job-company1 .job-company1-designtag ul,
.job-contents .job-contents-frame .job-company2 .job-company1-designtag ul,
.job-contents .job-contents-frame .job-company3 .job-company1-designtag ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.job-contents .job-contents-frame .job-company1 .job-company1-designtag ul li,
.job-contents .job-contents-frame .job-company2 .job-company1-designtag ul li,
.job-contents .job-contents-frame .job-company3 .job-company1-designtag ul li {
  position: relative;
  text-align: center;
  width: fit-content;
  height: 2.95vw;
  font-size: 1.4vw;
  font-weight: 500;
  letter-spacing: 0.1vw;
  color: #00ff8e;
  border: 0.1vw solid #00ff8e;
  border-radius: 0.6vw;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  box-sizing: border-box;
  cursor: pointer;
  margin-top: 0.9vw;
  margin-left: 5vw;
  margin-right: -3.4vw;
  padding: 0.39vw 0.9vw;
  z-index: 3;
}
.job-contents .job-contents-frame .job-company1 .job-company1-designtag ul li::before,
.job-contents .job-contents-frame .job-company2 .job-company1-designtag ul li::before,
.job-contents .job-contents-frame .job-company3 .job-company1-designtag ul li::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transform: scale(0, 1);
  transition: 0.7s;
  transform-origin: left top;
}
.job-contents .job-contents-frame .job-company1 .job-company1-designtag ul li:hover,
.job-contents .job-contents-frame .job-company2 .job-company1-designtag ul li:hover,
.job-contents .job-contents-frame .job-company3 .job-company1-designtag ul li:hover {
  color: #000;
  border: 1px solid #fff;
  transition: 0.7s;
}
.job-contents .job-contents-frame .job-company1 .job-company1-designtag ul li:hover::before,
.job-contents .job-contents-frame .job-company2 .job-company1-designtag ul li:hover::before,
.job-contents .job-contents-frame .job-company3 .job-company1-designtag ul li:hover::before {
  transform: scale(1, 1);
}

.achievements-loop {
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 9vw;
  padding-top: 7.5vw;
}
.achievements-loop .achievements-loop-list {
  display: flex;
  animation: loop-slide 70s infinite linear 1s both;
  list-style: none;
  margin: 0;
  padding: 0;
}
.achievements-loop .achievements-loop-list .achievements-loop-text {
  font-size: 9vw;
  font-weight: 800;
  color: #123d83;
  -webkit-text-stroke-width: 0.05vw;
  -webkit-text-stroke-color: #00fff6;
  width: 115vw;
}
@keyframes loop-slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.achievements-contents-frame {
  padding: 7.5vw 9vw 7.5vw 9vw;
  margin: 0 8.5vw;
}
.achievements-contents-frame .achievements-title {
  text-align: center;
  font-size: 5vw;
  color: #fff;
  letter-spacing: 2.5vw;
  margin: 0;
  padding-bottom: 3.5vw;
}
.achievements-contents-frame .achievements-text {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 100;
  letter-spacing: 0.25vw;
}
.achievements-contents-frame .achievements-text span {
  font-size: 1.4rem;
  color: #00fff6;
}

.splide-contents-frame {
  padding: 0 9vw;
  margin: 0 8.5vw;
}
.splide-contents-frame .splide__slide {
  height: auto;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.25vw;
  text-align: center;
  color: #123d83;
}
.splide-contents-frame .splide__slide img {
  width: 100%;
  height: 31.3vw;
  object-fit: cover;
  border-radius: 1.4vw;
}
.splide-contents-frame .splide__pagination {
  bottom: -4vw;
}
.splide-contents-frame .splide__pagination__page {
  width: 1.2vw;
  height: 1.2vw;
  background: #00fff6;
  margin-left: 1.2vw;
}
.splide-contents-frame .splide__arrow {
  position: absolute;
  align-items: center;
  width: 4.2vw;
  height: 4.2vw;
  background: #00fff6;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  opacity: 0.7;
  padding: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
.splide-contents-frame .splide__arrow svg {
  fill: #123d83;
  height: 1.6em;
  width: 1.6em;
}
.splide-contents-frame .splide__arrow--prev {
  margin-left: 2vw;
  box-shadow: 0px 2px 7px 0px #000;
}
.splide-contents-frame .splide__arrow--next {
  margin-right: 2vw;
  box-shadow: 0px 2px 7px 0px #000;
}