body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", "Meiryo", "sans-serif";
  margin: 0;
}

.site-header {
  position: fixed;
  position: relative;
  background-color: #f5f5f5;
  height: 80px;
  z-index: 0;
}
.site-header .logo {
  margin: 0;
  padding: 18px 0px 0px 80px;
}
.site-header .logo img {
  width: 40px;
  height: auto;
}
.site-header .logo a:hover {
  opacity: 0.7;
  transition: 0.3s;
}
.site-header p {
  position: absolute;
  top: 22px;
  left: 150px;
  font-size: 1.4rem;
  font-weight: bolder;
  margin: 0;
}

.nav-contents {
  position: absolute;
  top: 27px;
  right: 207px;
  z-index: 2;
}
.nav-contents .ul-list {
  display: flex;
  list-style: none;
  margin: 0;
}
.nav-contents .ul-list li {
  padding: 0px 35px;
}
.nav-contents .ul-list a {
  padding-bottom: 5px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  background-image: linear-gradient(#7f8480, #7f8480);
  background-size: 0 2px;
  background-position: left bottom;
  background-repeat: no-repeat;
  color: #000;
  transition: all 0.4s;
  letter-spacing: 0.1rem;
}
.nav-contents .ul-list a:hover {
  background-size: 100% 2px;
  color: #018326;
}

.github-btn {
  position: relative;
}
.github-btn .github-link {
  position: absolute;
  bottom: -7px;
  left: 505px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  color: #000;
  background-color: #d6d6d6;
  padding: 8px 25px 8px 25px;
  border-radius: 1.3rem;
  letter-spacing: 0.1rem;
  transition: 0.4s;
  box-shadow: 0px 5px 1px #909090;
}
.github-btn .github-link:hover {
  color: #fff;
  background-color: #018326;
  box-shadow: none;
  transform: translateY(2px);
  transition: 0.2s;
}
.github-btn .github-link::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  border-top: solid 1.7px #000;
  border-right: solid 1.7px #000;
  transform: rotate(45deg);
  top: 0;
  right: 12px;
  bottom: 0;
  margin: auto;
}
.github-btn .github-link:hover::after {
  border-top: solid 1.7px #fff;
  border-right: solid 1.7px #fff;
  transition: 0.2s;
}